@charset "UTF-8";
body {
  font-family: 'PT Sans', sans-serif; }

#header {
  margin-bottom: 230px; }

.wrap_head {
  height: 941px;
  background-image: url("../img/living-bg.png"); }

.navbar_pad {
  padding: 13px 0; }

.nav-list {
  padding-top: 15px; }
  .nav-list__item {
    position: relative;
    display: inline-block;
    padding: 0 20px; }
    .nav-list__item a {
      list-style: none;
      transition: color .5s ease;
      text-decoration: none;
      color: #fff; }
      .nav-list__item a:hover {
        color: #b28d16; }

.nav-list .submenu {
  display: flex;
  padding: 0;
  list-style: none;
  text-transform: uppercase;
  background-color: #eabd26;
  justify-content: space-between; }
  .nav-list .submenu__item {
    padding: 10px 30px;
    letter-spacing: .4px; }
    .nav-list .submenu__item__super_sub_nav {
      padding: 0;
      list-style: none;
      text-transform: capitalize; }
      .nav-list .submenu__item__super_sub_nav__item {
        padding: 5px 24px; }
        .nav-list .submenu__item__super_sub_nav__item a:hover {
          text-decoration: underline;
          color: #b28d16 !important; }
    .nav-list .submenu__item a {
      color: #000; }
      .nav-list .submenu__item a:hover {
        color: #fff; }

.enter {
  position: absolute;
  left: -105px;
  padding-top: 29px; }

.entry {
  display: flex;
  background-color: rgba(0, 0, 0, 0.65);
  justify-content: space-around; }

.navbar_bg {
  background-color: rgba(0, 0, 0, 0.75); }

.select_panel__list {
  display: flex;
  padding-left: 0;
  justify-content: space-around; }
  .select_panel__list__items {
    width: 100%;
    height: 54px;
    list-style: none;
    text-align: center;
    background-color: #041f31; }
    .select_panel__list__items:hover {
      background-color: #ffcd34; }
    .select_panel__list__items a {
      font-size: 14px;
      font-weight: bold;
      font-weight: 700;
      position: relative;
      display: inline-block;
      padding: 17px 5px;
      text-decoration: none;
      /* Text style for "Ж, илье" */
      letter-spacing: .35px;
      text-transform: uppercase;
      color: #fff; }

.ico {
  position: absolute;
  left: -35px;
  width: 21px;
  height: 19px;
  background-repeat: no-repeat; }
  .ico__1 {
    background-image: url("../img/living-icon.png"); }
  .ico__2 {
    background-image: url("../img/tours-icon.png"); }
  .ico__3 {
    background-image: url("../img/excursion-icon.png"); }
  .ico__4 {
    background-image: url("../img/car-icon.png"); }
  .ico__5 {
    left: -25px;
    background-image: url("../img/calendar.png"); }
  .ico__6 {
    left: 0;
    background-image: url("../img/---------copy-5.png"); }

.widgets {
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  /* Text style for "И, нтервал" */
  letter-spacing: .35px;
  text-transform: uppercase;
  color: #fff; }
  .widgets__widget_1 {
    min-height: 50px;
    padding-top: 13px;
    padding-left: 45px;
    border-radius: 25px;
    background-color: rgba(4, 31, 49, 0.75); }
    .widgets__widget_1 p {
      position: relative; }
      .widgets__widget_1 p .fas {
        position: absolute;
        right: 27px;
        padding-top: 6px; }
    .widgets__widget_1 .select_radio_list {
      padding-bottom: 13px;
      list-style: none; }
      .widgets__widget_1 .select_radio_list__item {
        display: inline-block;
        width: 49%; }
  .widgets__widget_2 {
    min-height: 50px;
    padding-top: 13px;
    padding-left: 30px;
    border-radius: 25px;
    background-color: rgba(4, 31, 49, 0.75); }
    .widgets__widget_2 p {
      position: relative; }
      .widgets__widget_2 p .fas {
        position: absolute;
        right: 27px;
        padding-top: 6px; }
    .widgets__widget_2 .select_radio_list {
      padding-bottom: 13px;
      list-style: none; }
      .widgets__widget_2 .select_radio_list__item {
        display: inline-block;
        width: 49%; }
  .widgets__widget_3 {
    height: 50px;
    padding-top: 11px;
    padding-left: 30px;
    border-radius: 25px;
    background-color: rgba(4, 31, 49, 0.75); }
    .widgets__widget_3 .min,
    .widgets__widget_3 .max {
      display: inline-block;
      width: 40px;
      height: 30px;
      margin: 0 5px;
      padding-top: 3px;
      text-align: center;
      border: 1px solid rgba(255, 255, 255, 0.25);
      border-radius: 20px; }
    .widgets__widget_3 .max {
      width: 60px; }
    .widgets__widget_3 .type_range {
      margin-right: 10px; }

.paddd {
  padding-right: 25px;
  padding-left: 25px; }

.slider {
  height: 5px;
  /* Specified height */
  -webkit-transition: .2s;
  /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  vertical-align: middle;
  outline: none;
  /* Remove outline */
  background: #eabd26;
  /* Grey background */
  -webkit-appearance: none;
  /* Override default CSS styles */
  appearance: none; }

/* Mouse-over effects */
.slider:hover {
  opacity: 1;
  /* Fully shown on mouse-over */ }

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  width: 15px;
  /* Set a specific slider handle width */
  height: 15px;
  /* Slider handle height */
  cursor: pointer;
  /* Cursor on hover */
  border-radius: 20px;
  background: #eabd26;
  /* Green background */
  -webkit-appearance: none;
  /* Override default look */
  appearance: none; }

.slider::-moz-range-thumb {
  width: 5px;
  /* Set a specific slider handle width */
  height: 5px;
  /* Slider handle height */
  cursor: pointer;
  /* Cursor on hover */
  background: #4caf50;
  /* Green background */ }

.search {
  margin-top: 13px; }
  .search .wrap_search {
    margin-left: 41px; }
    .search .wrap_search .search_advanced {
      font-size: 14px;
      font-weight: 400;
      line-height: 20.4px;
      margin-left: 4px;
      /* Text style for "Р, асширен" */
      letter-spacing: .35px;
      color: #fff; }
    .search .wrap_search .ico__6 {
      margin-top: 4px; }

.type_of_tour {
  font-size: 14px;
  font-weight: 400;
  line-height: 20.4px;
  /* Text style for "Тип тура" */
  letter-spacing: .35px;
  text-transform: uppercase;
  color: #fff;
  border-radius: 15px;
  background-color: rgba(4, 31, 49, 0.75); }
  .type_of_tour h5 {
    padding: 13px 40px;
    padding-bottom: 6px;
    border-bottom: 1px solid #fff; }
  .type_of_tour__list {
    list-style: none; }
    .type_of_tour__list__item {
      display: inline-block;
      width: 49%;
      margin: 14px 0; }
      .type_of_tour__list__item .inchange {
        width: 20px;
        height: 20px;
        margin-right: 15px;
        border: 1px solid #fde908; }

.type_feed {
  font-size: 14px;
  font-weight: 400;
  line-height: 20.4px;
  /* Text style for "Тип тура" */
  letter-spacing: .35px;
  text-transform: uppercase;
  color: #fff;
  border-radius: 15px;
  background-color: rgba(4, 31, 49, 0.75); }
  .type_feed h5 {
    padding: 13px 40px;
    padding-bottom: 6px;
    border-bottom: 1px solid #fff; }
  .type_feed__list {
    list-style: none; }
    .type_feed__list__item {
      display: inline-block;
      width: 49%;
      margin: 14px 0; }
      .type_feed__list__item .inchange {
        width: 20px;
        height: 20px;
        margin-right: 15px;
        border: 1px solid #fde908; }

.btn_form {
  width: 100%;
  margin-top: 20px;
  text-align: center; }
  .btn_form .btn {
    font-family: 'PT Sans';
    font-size: 14px;
    font-weight: 700;
    line-height: 20.4px;
    display: block;
    width: 168px;
    height: 53px;
    margin: 0 auto;
    padding-top: 18px;
    transition: all .5s ease;
    text-decoration: none;
    /* Text style for "Подобрать" */
    letter-spacing: .35px;
    text-transform: uppercase;
    color: #000;
    border-radius: 25px;
    background-color: #ffcd34; }
    .btn_form .btn:hover {
      color: #fff;
      border: 1px solid #fff; }

.d-no {
  display: none; }

@media screen and (max-width: 1200px) {
  .widgets__widget_3 {
    text-align: center; } }
@media screen and (max-width: 998px) {
  .select_panel__list {
    display: block; } }
@media screen and (max-width: 576px) {
  #header {
    margin-bottom: 20px; } }

/*# sourceMappingURL=stlyle.css.map */
