$color_nav_items: #b28d16;
$nav: #000000;
$color_nav_tab: #eabd26;
$color_navbar_items: #ffcd34;
$color_list_tag: #fde908;

$color_back: #041f31;

// <ul class="submenu__item__super_sub_nav">
// 						<li class="submenu__item__super_sub_nav__item"><a href="#"> Сарпи    </a>
// 						</li>
// 						<li class="submenu__item__super_sub_nav__item"><a href="#">   Гонио  </a>
// 						</li>
// 						<li class="submenu__item__super_sub_nav__item"><a href="#">   Квариати  </a>
// 						</li>
// 						<li class="submenu__item__super_sub_nav__item"><a href="#">   Уреки  </a>
// 						</li>
// 						<li class="submenu__item__super_sub_nav__item"><a href="#">  Кобулеты   </a>
// 						</li>
// 						<li class="submenu__item__super_sub_nav__item"><a href="#">    Батуми </a>
// 						</li>
// 						<li class="submenu__item__super_sub_nav__item"><a href="#">  Анаклия </a>
// 						</li>
// 					</ul>