$f-Caveat: 'Caveat', cursive;
$f-Montserrat: 'Montserrat', sans-serif;
$c-Turkish-Rose: #A97272;
$c-Raven: #6D7881;

body {
    margin: 0;
    font-family: $f-Montserrat;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
	padding: 0 15px;
}