	@import 'color';
	@import 'mixins';
	body {
	    font-family: 'PT Sans', sans-serif;
	}

	////////////////HEADER\\\\\\\\\\\\\\\\\\\
	#header {
	    margin-bottom: 230px;
	}


	.wrap_head {
	   min-height: 941px;

	    background-image: url('../img/living-bg.png');
	}

	.navbar_pad {
	    padding: 13px 0;
	}

	.nav-list {
	    padding-top: 15px;

	    &__item {
	        position: relative;

	        display: inline-block;

	        padding: 0 20px;
	         

	        a {
	            list-style: none;

	            transition: color .5s ease;
	            text-decoration: none;

	            color: #fff;
	            &:hover {
	                color: $color_nav_items;
	            }

	        }
	    }
	}


	.nav-list .submenu {
	    display: flex;

	    padding: 0;

	    list-style: none;

	    text-transform: uppercase;

	    background-color: $color_nav_tab;

	    justify-content: space-between;





	    &__item {
	        padding: 10px 30px; // max-height: 40px;
	        letter-spacing: .4px;



	        &__super_sub_nav {
	            padding: 0;

	            list-style: none;

	            text-transform: capitalize;
	            &__item {
	                padding: 5px 24px;

	                a {
	                    &:hover {
	                        text-decoration: underline;

	                        color: $color_nav_items !important;
	                    }
	                }
	            }
	        }
	        a {
	            color: #000;

	            &:hover {
	                color: #fff;
	            }
	        }
	    }
	}

	.ssss {
	    // max-height: 40px;
	    // background-color: $color_back;
	}

	.enter {
	    position: absolute;
	    left: -105px;

	    padding-top: 29px;
	}

	.entry {
	    display: flex;

	    background-color: rgba(0, 0, 0, .65);

	    justify-content: space-around;
	}

	.navbar_bg {
	    background-color: rgba(0, 0, 0, .75);
	}

	///////////////////SECTION\\\\\\\\\\\\\\\\\\\\\\
	.select_panel {
	    &__list {
	        display: flex;

	        padding-left: 0;

	        justify-content: space-around;


	        &__items {
	            width: 100%;
	            height: 54px;

	            list-style: none;

	            text-align: center;

	            background-color: $color_back;

	            &:hover {
	                background-color: $color_navbar_items;
	            }

	            a {
	                font-size: 14px;
	                font-weight: bold;
	                font-weight: 700;

	                position: relative;

	                display: inline-block;

	                padding: 17px 5px; // &:before:ntn-child(1){
	                // 	content: '';
	                // 	 
	                text-decoration: none;
	                /* Text style for "Ж, илье" */
	                letter-spacing: .35px;
	                text-transform: uppercase;

	                color: #fff; // }
	            }
	        }
	    }
	}

	.ico {
	    position: absolute;
	    left: -35px;

	    width: 21px;
	    height: 19px;

	    background-repeat: no-repeat;

	    &__1 {
	        background-image: url('../img/living-icon.png');
	    }
	    &__2 {
	        background-image: url('../img/tours-icon.png');
	    }
	    &__3 {
	        background-image: url('../img/excursion-icon.png');
	    }
	    &__4 {
	        background-image: url('../img/car-icon.png');
	    }
	    &__5 {
	        left: -25px;

	        background-image: url('../img/calendar.png');
	    }
	    &__6 {
	        left: 0;

	        background-image: url('../img/---------copy-5.png');
	    }
	}

	//////////////////////////
	.widgets {
	    font-family: 'PT Sans', sans-serif;
	    font-size: 14px;
	    font-weight: 400;
	    /* Text style for "И, нтервал" */
	    letter-spacing: .35px;
	    text-transform: uppercase;

	    color: #fff;
	    &__widget_1 {
	        min-height: 50px;
	        padding-top: 13px;
	        padding-left: 45px;

	        border-radius: 25px;
	        background-color: rgba(4, 31, 49, .75);


	        p {
	            position: relative;

	            .fas {
	                // padding-left: 40px;
	                position: absolute;
	                right: 27px;

	                padding-top: 6px;
	            }
	        }
	        .select_radio_list {
	            padding-bottom: 13px;

	            list-style: none;
	            &__item {
	                display: inline-block;

	                width: 49%;
	            }
	        }
	    }
	    &__widget_2 {
	        min-height: 50px;
	        padding-top: 13px;
	        padding-left: 30px;

	        border-radius: 25px;
	        background-color: rgba(4, 31, 49, .75);
	        p {
	            position: relative;

	            .fas {
	                // padding-left: 40px;
	                position: absolute;
	                right: 27px;

	                padding-top: 6px;
	            }
	        }
	        .select_radio_list {
	            padding-bottom: 13px;

	            list-style: none;
	            &__item {
	                display: inline-block;

	                width: 49%;
	            }
	        }
	    }
	    &__widget_3 {
	        height: 50px;
	        padding-top: 11px;
	        padding-left: 30px;

	        border-radius: 25px;
	        background-color: rgba(4, 31, 49, .75);
	        .min,
	        .max {
	            display: inline-block;

	            width: 40px;
	            height: 30px;
	            margin: 0 5px;
	            padding-top: 3px;

	            text-align: center;

	            border: 1px solid rgba(255, 255, 255, .25);
	            border-radius: 20px;
	        }
	        .max {
	            width: 60px;
	        }
	        .type_range {
	            margin-right: 10px;
	        }
	    }
	}



	.paddd {
	    padding-right: 25px;
	    padding-left: 25px;
	}


	//////////////////////
	.slider {
	    height: 5px;
	    /* Specified height */
	    -webkit-transition: .2s;
	    /* 0.2 seconds transition on hover */
	    transition: opacity .2s;
	    vertical-align: middle;

	    outline: none;
	    /* Remove outline */
	    background: $color_nav_tab;
	    /* Grey background */
	    -webkit-appearance: none;
	    /* Override default CSS styles */
	    appearance: none;
	}
	/* Mouse-over effects */

	.slider:hover {
	    opacity: 1;
	    /* Fully shown on mouse-over */
	}
	/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */

	.slider::-webkit-slider-thumb {
	    width: 15px;
	    /* Set a specific slider handle width */
	    height: 15px;
	    /* Slider handle height */
	    cursor: pointer;
	    /* Cursor on hover */
	    border-radius: 20px;
	    background: $color_nav_tab;
	    /* Green background */
	    -webkit-appearance: none;
	    /* Override default look */
	    appearance: none;
	}

	.slider::-moz-range-thumb {
	    width: 5px;
	    /* Set a specific slider handle width */
	    height: 5px;
	    /* Slider handle height */
	    cursor: pointer;
	    /* Cursor on hover */
	    background: #4caf50;
	    /* Green background */
	}


	.search {
	    margin-top: 13px;
	    .wrap_search {
	        margin-left: 41px;

	        .search_advanced {
	            font-size: 14px;
	            font-weight: 400;
	            line-height: 20.4px;

	            margin-left: 4px;
	            /* Text style for "Р, асширен" */
	            letter-spacing: .35px;

	            color: #fff;
	        }
	        .ico__6 {
	            margin-top: 4px;
	        }
	    }
	}

	.type_of_tour {
	    font-size: 14px;
	    font-weight: 400;
	    line-height: 20.4px;
	    /* Text style for "Тип тура" */
	    letter-spacing: .35px;
	    text-transform: uppercase;

	    color: #fff;
	    border-radius: 15px;
	    background-color: rgba(4, 31, 49, .75);
	    h5 {
	        padding: 13px 40px;
	        padding-bottom: 6px;

	        border-bottom: 1px solid #fff;
	    }

	    &__list {
	        list-style: none;

	        &__item {
	            display: inline-block;

	            width: 49%;
	            margin: 14px 0;

	            .inchange {
	                width: 20px;
	                height: 20px;
	                margin-right: 15px;

	                border: 1px solid #fde908;
	            }
	        }
	    }
	}


	.type_feed {
	    font-size: 14px;
	    font-weight: 400;
	    line-height: 20.4px;
	    /* Text style for "Тип тура" */
	    letter-spacing: .35px;
	    text-transform: uppercase;

	    color: #fff;
	    border-radius: 15px;
	    background-color: rgba(4, 31, 49, .75);
	    h5 {
	        padding: 13px 40px;
	        padding-bottom: 6px;

	        border-bottom: 1px solid #fff;
	    }
	    &__list {
	        list-style: none;

	        &__item {
	            display: inline-block;

	            width: 49%;
	            margin: 14px 0;
	            .inchange {
	                width: 20px;
	                height: 20px;
	                margin-right: 15px;

	                border: 1px solid #fde908;
	            }
	        }
	    }
	}

	.btn_form {
	    width: 100%;
	    margin-top: 20px;

	    text-align: center;
	    .btn {
	        font-family: 'PT Sans';
	        font-size: 14px;
	        font-weight: 700;
	        line-height: 20.4px;

	        display: block;

	        width: 168px;
	        height: 53px;
	        margin: 0 auto;
	        padding-top: 18px;

	        transition: all .5s ease;
	        text-decoration: none;
	        /* Text style for "Подобрать" */
	        letter-spacing: .35px;
	        text-transform: uppercase;

	        color: #000;
	        border-radius: 25px;
	        background-color: #ffcd34;
	        &:hover {
	            color: #fff;
	            border: 1px solid #fff;
	        }
	    }
	}


	.d-no {
	    display: none;
	}

	@media screen and (max-width: 1200px) {
	    .widgets__widget_3 {
	        text-align: center;
	    }
	}

	@media screen and (max-width: 998px) {
	    .select_panel__list {
	        display: block;
	    }
	    .navbar_pad>.row>div {}
	    .navbar_pad {}
	}

	@media screen and (max-width: 576px) {
	    #header {
	        margin-bottom: 20px;
	    }
	}



	//////////
	/////////////
	///////////////////
	/////////////////////////////
	/////////////////////////////\\\\\\\\\\\\\\\\\\\
	.slid{
		height: 600px;
	}


.c-hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 96px;
  height: 96px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}
 
.c-hamburger:focus {
  outline: none;
}

/////////////
.c-hamburger span {
  display: block;
  position: absolute;
  top: 44px;
  left: 18px;
  right: 18px;
  height: 8px;
  background: white;
}
 
.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: #fff;
  content: "";
}
 
.c-hamburger span::before {
  top: -20px;
}
 
.c-hamburger span::after {
  bottom: -20px;
}


////////////////
.c-hamburger--htx {
  background-color: $color_back;
}
 
.c-hamburger--htx span {
  transition: background 0s 0.3s;
}
 
.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
}
 
.c-hamburger--htx span::before {
  transition-property: top, transform;
}
 
.c-hamburger--htx span::after {
  transition-property: bottom, transform;
}
 
/* состояние active при открытом меню  */
.c-hamburger--htx.is-active {
  background-color:$color_navbar_items;
}
 
.c-hamburger--htx.is-active span {
  background: none;
}
 
.c-hamburger--htx.is-active span::before {
  top: 0;
  transform: rotate(45deg);
}
 
.c-hamburger--htx.is-active span::after {
  bottom: 0;
  transform: rotate(-45deg);
}
 
.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
  transition-delay: 0s, 0.3s;
}/////////////////





.menuToggle{  
    color: #fff;
    padding: 10px 15px;
    cursor: pointer;
    display: none;
}

	@media screen and( max-width: 640px){
    .menuToggle{
        display: block;
    }
    .menu{
        display: none;
       
       
        width: 100%;
        margin-left: -10px;
        padding-left: 10px;
    }
    .menu li{
        float: none;
    }
    .logo {

    }
   nav .c-hamburger{
   	margin: 0 auto;
   	text-align: center;

   }
  .nav-list__item{
 display: block;
  }
  .enter{
  	position: static;
  	    padding-top: 0px;
  }
  .nav-list{
  	text-align: center;
  }
}