html { line-height: 1.15;    /* 1 */ -webkit-text-size-adjust: 100%;    /* 2 */ }
body { margin: 0; }
@font-face { font-family: 'Esteban'; src: url('fonts/Esteban-Regular.ttf') format('truetype'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Montserrat'; src: url('fonts/Montserrat-Bold.ttf') format('truetype'); font-weight: bold; font-style: normal; }
@font-face { font-family: 'Montserrat'; src: url('fonts/Montserrat-ExtraBold.ttf') format('truetype'); font-weight: 800; font-style: normal; }
body { overflow-x: hidden; font-family: 'Montserrat', sans-serif; }
.s-video-gallery { height: 100vh; position: relative; overflow: hidden; }
.left-col { position: absolute; left: 0; top: 0; width: 482px; height: 100%; z-index: 1; background-color: rgba(0, 0, 0, 0.9); transform: translateX(-482px); transition: all 0.55s cubic-bezier(0.45, 0.05, 0.55, 0.95); cursor: pointer; }
.slick-dots { display: none !important; }
.personne-slider .slick-list { mask-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 23%, rgba(255, 255, 255, 1) 61%, rgba(255, 255, 255, 0) 100%); -webkit-mask-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 23%, rgba(255, 255, 255, 1) 61%, rgba(255, 255, 255, 0) 100%); }
.left-col-active { transform: translateX(0); }
.left-col::before { content: ''; position: absolute; top: 50%; right: 0; width: 51px; height: 136px; background-image: url(leftEl.png); background-repeat: no-repeat; background-position: center; margin-top: -68px; right: -50px; }
.left-col::after { content: ''; position: absolute; top: 50%; right: 0; height: 30px; width: 5px; border: 3px solid #f7ce18; border-top: none; border-bottom: none; margin-top: -14px; right: -29px; }
.personne-slider { padding-left: 20%; height: 100%; }
.personne-slider { display: flex !important; align-items: center; padding-top: 195px; }
.personne-slider__item { display: flex !important; align-items: center; color: #fff; width: 70%; }
.tittle__left { position: absolute; left: 102px; top: 112px; color: #f7ce18; font-size: 37px; font-weight: 800; line-height: 45px; }
.personne-slider__item { opacity: 0.6; transition: all 0.4s ease; margin: 10px 0; }
.personne-slider__item.slick-current { opacity: 1; }
.personne-slider__item:focus { outline: none; }
.slick-prev, .slick-next { left: 50%; background: url(https://uploads-ssl.webflow.com/5ca86986d27f4d71c6781328/5ca86986d27f4d261c78136f_Arrows2.png); width: 51px; margin-left: -25px; height: 41px; background-size: 100%; background-position: center; z-index: 3; }
.slick-prev:before, .slick-next:before { display: none; }
.slick-prev { display: none !important; }
.slick-prev:hover, .slick-prev:focus { background: url(https://uploads-ssl.webflow.com/5ca86986d27f4d71c6781328/5ca86986d27f4d261c78136f_Arrows2.png); background-size: 100%; background-position: center; }
.slick-next:hover, .slick-next:focus { background: url(https://uploads-ssl.webflow.com/5ca86986d27f4d71c6781328/5ca86986d27f4d261c78136f_Arrows2.png); background-size: 100%; background-position: center; }
.slick-prev { top: 192px; transform: rotate(90deg); }
.slick-next { bottom: 70px; top: auto; transform: rotate(-90deg); }
.desc h3 { width: 47px; height: 17px; background-image: url(desc_top.png); background-position: center; margin: 0; }
.photo { width: 87px; height: 86px; border: 1px solid #f7ce18; border-radius: 60px; overflow: hidden; }
.desc { padding-left: 20px; }
.desc p:first-of-type { color: #f7ce18; font-size: 18px; margin-bottom: 0; }
.desc p:last-child { margin-top: 4px; color: #ffffff; font-family: Esteban; font-size: 13px; margin-bottom: 0; }
.video-player__slider { height: 100vh; }
.video-player__slider video { width: 100%; height: 100%; object-fit: cover; }
.video-player__slider { }
.video-player__slider_item { position: relative; height: 100vh; }
.progress-wrap i { font-size: 14px; transition: color 0.3s ease; color: #565656; }
.progress-wrap i.active { color: #fff; }
.pause { border: none; background-color: transparent; outline: none; }
.pause:focus { transition: color 0.3s ease; color: #fff; }
.play-video i.fa-play { display: none; }
.play-video { width: 94px; height: 94px; background-image: url(play_button.png); background-color: transparent; border: none; position: absolute; left: 50%; margin-left: -42px; top: 50%; margin-top: -42px; cursor: pointer; border-radius: 100px; }
.play-video:focus { outline: none; }
.video-desc { max-width: 500px; position: absolute; top: 113px; left: 587px; color: #fff; font-family: Esteban, serif; letter-spacing: 3.48px; line-height: 41.89px; }
.video-desc p { font-size: 30px; }
#custom-seekbar { cursor: pointer; height: 14px; overflow: hidden; position: relative; width: 90%; border: 1px solid #565656; z-index: 2; background-color: #fff; padding: 0px; box-sizing: border-box; border-radius: 2px; }
#custom-seekbar::after { content: ''; position: absolute; width: 100%; height: 100%; background-color: #565656; border: 1px solid #2b2b2b; box-sizing: border-box; }
#custom-seekbar span { background-color: #ffd600; position: absolute; top: 2px; left: 2px; height: 8px; width: 0px; box-sizing: border-box; z-index: 1; max-width: calc(100% - 4px); transition: all 0.3s linear; }
.progress-wrap { position: absolute; bottom: 10px; width: 90%; left: 50%; margin-left: -45%; background-color: #2b2b2b; height: 30px; display: flex; justify-content: space-evenly; align-items: center; opacity: 0; visibility: hidden; transition: all 0.5s ease; }
.volume-changer { display: flex; align-items: flex-end; cursor: pointer; }
.volume-changer span { width: 3px; background-color: #191919; display: inline-block; padding: 0 1px; background-clip: content-box; transition: all 0.3s ease-out; }
.volume-changer span.active { background-color: #fff; }
.volume-changer span:nth-child(1) { height: 5px; }
.volume-changer span:nth-child(2) { height: 7px; }
.volume-changer span:nth-child(3) { height: 9px; }
.volume-changer span:nth-child(4) { height: 11px; }
.volume-changer span:nth-child(5) { height: 13px; }
.as-console-wrapper { display: none !important; }