@import 'utils/_mixins';
/*
================================================================================
|                                     CONTENT                                 |
================================================================================
*/
.wrapper{
	max-width: 1600px;
	margin: 0 auto;
}
.portfolio {
	font-family: Montserrat, sans-serif;
	line-height: 55px;
    &__tittle {
        
        font-size: 38px;
        font-weight: 700;
        text-transform: uppercase;

        color: #fff;
    }
    &__work-type {
        
        font-size: 18px;
        font-weight: 400;
        text-transform: uppercase;

        color: #777;
    }
}

.wrap-section-tittle {
    background-color: #231f20;
    min-height: 300px;
    padding-top: 100px;
}

.work-showcase {
    display: flex;

    margin: 0;
    margin-top: -17px;
    padding-left: 0;

    flex-wrap: wrap;

    &__item {
        position: relative;

        width: 50%;
        max-width: 800px;
        max-height: 400px;

        list-style-type: none;
        &:hover .work-info {
            visibility: visible;
        }
    }

    &__img {
        max-width: 100%;
        height: auto;
    }
}
.work-info {
    position: absolute;

    display: flex;
    visibility: hidden;
    flex-direction: column;

    width: 100%;
    height: 100%;
    padding-left: 37%;

    cursor: pointer;
    text-align: left;

    background-color: rgba(202, 87, 84, .8);

    justify-content: center;


    &__ico {
        padding-right: 10px;
    }
    &__item {
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 400;

        padding-top: 10px;
        padding-bottom: 10px;

        color: #fff;
        &_name {
            font-family: Montserrat;
            font-size: 24px;
            font-weight: 400;

            margin-bottom: 0;
        }
    }
    &__item:last-child {
        font-size: 14px;

        margin-bottom: 0;
    }
    &__item:first-child {
        font-size: 12px;

        margin-bottom: 0;
    }
}
.button-work {
    width: 207px;
    min-height: 42px;
    margin-top: 70px;

    cursor: pointer;

    border: none;
    background-color: #cb6f6d;

    @include radius(100px);
    @include transition(all .4s ease);

    &:focus {
        border: none;
        outline: none;
    }
    &:hover {
        background-color: #ea4c89;
    }
    &__content {
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 400;
        line-height: 36px;

        text-transform: uppercase;

        color: #fff;
    }
}

/*
================================================================================
|                                     feddback                              |
*/

.wrapper-feedback{
	margin-top: 70px;
}
.social {
    display: flex;

    margin-bottom: 0;
    padding-left: 0;

    justify-content: space-around;
    &__item {
        font-family: 'Font Awesome';
        font-size: 48px;

        display: flex;
        flex-direction: column;

        width: 265px;
        height: 200px;

        list-style-type: none;

        text-align: center;

        color: #2b2b2b;

        justify-content: center;

        &:hover {
            color: #fff;
            background-color: #ea4c89;
        }
    }
}

/*
================================================================================
|                                     contact-aside                                 |
*/
.contact-us {
	font-family: Montserrat;
	 font-weight: 400;
    height: 422px;
    padding-top: 70px;

    text-align: center;

    background-color: #fff;

    &__tittle {

        font-size: 22px;

        position: relative;

        color: #333;
    }
    &__address {
        
        font-size: 18px;

        display: flex;
        flex-direction: column;

        margin-top: 50px;

        color: #777;

        justify-content: center;
        a {
            margin-top: 20px;

            color: #777;
        }
    }
}

.text-main {
    border-bottom: 1px solid #cb6f6d;
}

.tittle_border::after {
    position: absolute;
    left: 50%;

    display: block;

    width: 100px;
    margin-left: -50px;
    padding-top: 15px;

    content: ' ';

    border-bottom: 3px solid #ccc;
}

/*
================================================================================
|                                     twitter-aside                                 |
*/
.twitter-up {
	 font-family: Montserrat;
	 font-weight: 400;
    height: 422px;
    padding-top: 70px;

    text-align: center;

    color: #fff;
    background-color: #333;

    &__tittle {
      
        font-size: 22px;
        color: #fff;
    }
    &__content {
      
        font-size: 16px;
    
        line-height: 28px;

        margin-top: 50px;
    }
}
/*
================================================================================
|                                     dr-shots -aside                                 |
*/
.dr-shots {
    padding-top: 70px;

    text-align: center;
    &__tittle {
        font-family: Montserrat;
        font-size: 22px;
        font-weight: 400;

        color: #333;
    }
}

.photo-list {
    display: flex;

    margin-top: 50px;

    flex-wrap: wrap;
    justify-content: center;
    &__item {
        margin-right: 10px;
        margin-bottom: 12px;

        list-style-type: none;
    }
}

@media screen and (max-width: 1200px) {}

@media screen and (min-width: 992px) {}

@media screen and (max-width: 991px) {
    .work-showcase__item {
        display: block;

        width: 100%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {}

@media screen and (max-width: 767px) {
    .social {
        display: flex;

        justify-content: space-around;
        flex-wrap: wrap;
    }
}


