/*
================================================================================
|                                     FOOTER                                   |
================================================================================
*/

.footer {
    width: 100%;

    background-color: #231f20;
}

.wrapper-footer {
    display: flex;

    min-height: 91px;

    justify-content: space-between;
    align-items: center;
}

.copyright {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 36px;

    margin-left: 50px;

    color: #fff;
    p {
        margin-bottom: 0;
    }
}

.menu-footer {
    padding-right: 50px;
}

.menu-list {
    display: flex;

    margin-bottom: 0;

	padding-left: 0;
    justify-content: space-between;
    align-items: center;
    &__item {
        list-style-type: none;

        &::after {
            font-family: Montserrat;
            font-size: 16px;
            font-weight: 400;
            line-height: 36px;

            margin-right: 18px;
            margin-left: 18px;

            content: '/';

            color: #fff;
        }
        &:last-child::after {
          
            content: '';
        }
    }
    &__link {
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 400;
        line-height: 36px;

        color: #fff;
        &:hover {
            text-decoration: none;
        }
    }
}

@media screen and (max-width: 1200px) {
    .wrapper-footer {
        justify-content: space-around;
    }
}

@media screen and (min-width: 992px) {}

@media screen and (max-width: 991px) {}

@media screen and (min-width: 768px) and (max-width: 991px) {}

@media screen and (max-width: 835px) {
    .menu-list {
       
             display: block;
    }
    .wrapper-footer {
        display: block;
    }
    .menu-footer {
        padding-right: 0;
    }
}
@media screen and (max-width: 576px) {
	.menu-list {
    text-align: center;
}
.copyright {

    text-align: center;
}
}